*vscode*
Common.py
Khufra.log
*__pycache__*
Ikariam/C/main*
*xlsx
nohup.out
Ikariam/C/*.so
build
dist
*.egg*
setup.py
MANIFEST.in
Ikariam/api/Cookie.py
*.txt
stronka/node_modules
stronka/build
stronka/package-lock.json
